<?xml version="1.0" encoding="UTF-8"?><codeTemplate version="4.4.2">
  <id>3350f575-20af-4449-b0f7-aa7a400e3ee9</id>
  <name>HL7v2 Organization Mapper</name>
  <revision>80</revision>
  <lastModified>
    <time>1733211212973</time>
    <timezone>Etc/UTC</timezone>
  </lastModified>
  <contextSet>
    <delegate>
      <contextType>DESTINATION_DISPATCHER</contextType>
      <contextType>DESTINATION_RESPONSE_TRANSFORMER</contextType>
      <contextType>SOURCE_FILTER_TRANSFORMER</contextType>
      <contextType>DESTINATION_FILTER_TRANSFORMER</contextType>
      <contextType>SOURCE_RECEIVER</contextType>
    </delegate>
  </contextSet>
  <properties class="com.mirth.connect.model.codetemplates.BasicCodeTemplateProperties">
    <type>FUNCTION</type>
    <code msync-fileref="HL7v2 Organization Mapper.js"/>
  </properties>
</codeTemplate>
